/* Hide scrollbar for all browsers */
body {
  overflow: scroll; /* enable scrolling */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
